body {
    background: #981E32;
    color: white;
    text-align: center;
}

h1 {
    color: #53565A;
    font-size:50px;
    text-align: center;
    font-family:"NCAA Washington St";src:url("NCAA_Washington_St.eot?") format("eot"),url("NCAA_Washington_St.woff") format("woff"),url("NCAA_Washington_St.ttf") format("truetype"),url("NCAA_Washington_St.svg#NCAAWashingtonSt") format("svg");font-weight:normal;font-style:normal;}


/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  text-align: center;
  color: #53565A;
  font-family: "Times New Roman";
}


input {
  border: 5px solid #53565A;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 2em;
  color:#53565A;
  width: 100%;
}

label {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  color: #53565A;
  user-select: none;
}

button {
  width: 175px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 1.5em;
  background-color:black;
  border: none;
  color: #53565A;
  cursor: pointer;
}

.input-group {
  margin-top: 20px;
  float: left;
  width: 50%;
  padding: 10px;
}

.inputs::after {
  content: " ";
  display: block;
  clear: both;
}